# Required dependencies
# Manual installation: pip install -r requirements.txt
numpy>=1.23.5
matplotlib>=3.3.0
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
psutil>=5.8.0, # system utilization
polars>=0.20.0,
ultralytics-thop>=2.1.6 # FLOPs computation https://github.com/ultralytics/thop
hub-sdk>=0.0.12 # Ultralytics HUB
# Optional dependencies
# cloudpickle>=3.1.1
# filelock>=3.16.1
# ultralytics-platform>=0.1.32
